
footer.footer {
display: flex;
align-items: center;
justify-content: center;
padding: 0 25px;
background-color: #FFF;
box-shadow: var(--shadow);
}

a {
    text-decoration: none;
}

@media(max-width:576px) {
    footer.footer {
      width: 100%;
    }
  }

  @media(max-width:398px) {
    span{
      font-size: .8em;
    }
  }